
fastapi==0.115.0
uvicorn[standard]==0.32.0
python-dotenv==1.0.1
groq==0.15.0
pydantic==2.9.2
pydantic-settings==2.6.0
python-multipart==0.0.12
langchain==0.3.4
langchain-community==0.3.3
langchain-huggingface==0.1.2
langgraph==0.2.45
faiss-cpu==1.14.3
pymupdf==1.24.14
sentence-transformers==3.3.1
tiktoken==0.8.0
pymongo[srv]==4.10.1
neo4j==5.26.0
httpx==0.27.2

