fastapi
uvicorn[standard]
python-dotenv
groq
pydantic
pydantic-settings
python-multipart
pymongo[srv]
neo4j
httpx
requests
langgraph
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-huggingface
aiofiles
pymupdf
sentence-transformers
faiss-cpu
numpy
